.AdminBar {
  position: fixed;
  bottom: 10px;
  left: 10px;
  a {
    line-height: 1;
    border-radius: 999px;
    padding: 5px 10px;
    background: $c-black;
    color: $c-white;
    display: block;
  }
}
