.AdminBar {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.AdminBar a,
.EditPostLink__link {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border-radius: 3px;
  padding: 5px 15px;
  background: $c-wp-blue;
  color: $c-white;
  display: inline-block;
  &:hover {
    background: $c-wp-medium-blue;
  }
}

.EditPostLink {
  margin-top: rem-calc(25);
}
