.Author {
  text-align: center;
  &__media {
    overflow: hidden;
    border-radius: 9999px;
    max-width: rem-calc(100);
    margin-right: rem-calc(20);
    margin: 0 auto;
    width: 100%;
    background-color: $c-light-gray;
  }
  &__content {
    margin-top: rem-calc(20);
    line-height: 1.34;
  }
  @include bp(md) {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    &__content {
      margin-top: 0;
    }
    &__media {
      margin: 0;
      max-width: rem-calc(140);
      margin-right: rem-calc(30);
    }
  }
}
