.Card {
  // background: silver;
  // margin: 10px;
  text-align: center;
  border-bottom: 2px solid $c-light-gray;
  @include spacing(lg, ('padding-top', 'padding-bottom'));
  &__title {
    margin-bottom: rem-calc(30);
  }
}
