.editor {
  @include font-size(text);

  font-family: $f-serif;

  em {
    font-style: italic;
  }

  a {
    color: $c-primary;
    border-bottom: 1px solid $c-primary;
    transition: color 0.15s ease;
    &:hover {
      color: $c-text;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  strong {
    font-family: $f-sans;
  }

  h1,
  h2,
  h3 {
    margin-bottom: rem-calc(20);
  }

  h1,
  h2 {
    margin-top: rem-calc(70);
  }

  h3 {
    margin-top: rem-calc(40);
  }

  h4 {
    // @include font-size(body);
    font-weight: 700;
    margin-bottom: rem-calc(5);
    color: $c-primary;
    margin-bottom: rem-calc(15);
    margin-top: rem-calc(30);
  }

  p > strong {
    display: inline-block;
    line-height: 1.4;
    font-size: 1.1em; // adjust font size to same x-height as Tiempos
  }

  p {
    margin-bottom: rem-calc(20);
  }

  ul {
    list-style-type: none;
    padding-left: 25px;
    li {
      &:before {
        $sz: 16px;
        content: '';
        vertical-align: baseline;
        position: relative;
        top: 1px;
        border-radius: 99px;
        background: $c-primary;
        display: inline-block;
        width: $sz;
        height: $sz;
        margin-left: -25px;
        margin-right: 25px - $sz;
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: item;
    padding-left: 25px;
    li {
      &:before {
        content: counter(item) ' ';
        display: inline-block;
        counter-increment: item;
        width: 25px;
        margin-left: -25px;
        color: $c-primary;
        font-family: $f-sans;
        font-weight: 700;
      }
    }
  }

  ul,
  ol {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(20);
    li {
      margin-bottom: rem-calc(10);
    }
  }

  blockquote {
    margin-top: rem-calc(35);
    margin-bottom: rem-calc(35);

    @include font-size(h2);
    color: $c-primary;
    text-align: center;
    font-weight: bold;
    line-height: 1.25;

    p {
      line-height: inherit;
    }

    cite {
      @include font-size(body);
      // font-weight: 400;
      // font-style: italic;
      margin-top: rem-calc(70);
      display: block;
      // color: $c-gray;
      &:before {
        content: '— ';
      }
    }

    @include bp(lg) {
      margin-left: -(rem-calc(120));
      margin-right: -(rem-calc(120));
    }
  }

  .embed {
    margin-top: rem-calc(35);
    margin-bottom: rem-calc(35);
    position: relative;
    &__pusher {
      width: 100%;
      height: 0;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  img {
    margin-top: rem-calc(35);
    margin-bottom: rem-calc(35);
  }

  .wp-caption {
    margin-bottom: rem-calc(35);
    img {
      margin-bottom: 0;
    }
  }

  .wp-caption-text {
    margin-top: rem-calc(10);
    @include font-size(small);
    font-family: $f-sans;
    font-weight: 400;
    text-align: center;
    &:before {
      color: $c-primary;
    }
  }

  .faktaboks {
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(40);
  }

  @include bp(md) {
    blockquote,
    .embed {
      margin-top: rem-calc(70);
      margin-bottom: rem-calc(70);
    }
    img {
      margin-top: rem-calc(60);
      margin-bottom: rem-calc(60);
    }
    .wp-caption {
      margin-bottom: rem-calc(60);
    }
  }
}

.faktaboks {
  border: 2px solid $c-light-gray;
  margin-left: -(rem-calc(30));
  margin-right: -(rem-calc(30));
  &__title {
    font-weight: 400 !important;
    line-height: 1.34;
    margin: 0 !important;
    color: $c-primary;
  }
  &__header {
    padding: rem-calc(20 30);
    border-bottom: 2px solid $c-light-gray;
  }
  &__content {
    padding: rem-calc(20 30);
    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }
}
