.Header {
  width: 100%;
  &__content {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem-calc(42);
    color: $c-text;
    line-height: 1;
    display: block;
    color: $c-white;
    background: $c-primary;
    padding: rem-calc(5 10);
  }
  &__nav {
    &--right {
      position: absolute;
      right: 0;
      // padding: rem-calc(10);
    }
  }
  @include bp(md) {
    &__content {
      justify-content: center;
    }
    &__logo {
      font-size: rem-calc(62);
    }
  }
}
