.Header {
  width: 100%;
  // background: $c-white;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  &__content {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
  }
  &__logo {
    width: 100%;
    max-width: rem-calc(400);
    padding-right: rem-calc(100);
    @include bp(md) {
      max-width: rem-calc(350);
      padding-right: 0;
    }
  }
  &__nav {
    &--right {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  @include bp(md) {
    &__content {
      justify-content: center;
    }
    &__logo {
      font-size: rem-calc(62);
    }
  }
}

.SearchLink {
  display: block;
  width: 25px;
  height: 26px;
  margin-right: rem-calc(20);
  &__icon {
  }
}

.HamburgerButton {
  display: block;
  width: 28px;
  height: 24px;
  .Burger {
    display: block;
    width: 28px;
    height: 24px;
    span {
      width: 28px;
      height: 4px;
      background-color: $c-black;
      margin: 6px 0 0 0;
      display: block;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
