.NavMenu {
  &--large &__link {
    @include font-size(lead);
  }
  &__link {
    display: block;
    padding: rem-calc(10 0);
    color: $c-primary;
    line-height: 1;
    &:hover {
      color: $c-black;
    }
    &--active {
      color: $c-black;
    }
  }
}
