.PostCarousel {
  text-align: center;
  margin-top: rem-calc(20);
  padding-bottom: rem-calc(20);
  overflow: hidden;

  .slick-list {
    overflow: visible;
  }

  // &__list {
  //   align-items: center;
  // }
  // &__item {
  //   padding-top: rem-calc(20);
  //   padding-bottom: rem-calc(20);
  // }
  // &__title,
  // &__link {
  //   color: $c-primary;
  // }
  @include bp(md) {
    margin-top: rem-calc(30);
    padding-bottom: rem-calc(30);
  }
  @include bp(lg) {
    margin-top: rem-calc(50);
    padding-bottom: rem-calc(60);
  }
}
