.PostPassword {
  text-align: center;
  &__label {
    display: block;
  }
  &__input {
    margin-top: rem-calc(25);
    text-align: center;
  }
}

input[type='text'] {
  background: $c-light-gray;
  @include font-smoothing;
  font-weight: inherit;
  color: $c-text;
  padding: rem-calc(10 20);
  width: 100%;
  max-width: rem-calc(640);
  position: relative;
  border: 2px solid transparent;
  transition: border-color 0.25s ease;
  &:focus {
    outline: none;
    border-bottom-color: $c-primary;
  }
}
