.ShareButtons {
  // text-align: center;
  // border-top: 1px solid $c-gray;
  // padding-top: rem-calc(70);
  // padding-bottom: rem-calc(70);
  // margin-top: rem-calc(70);
  // max-width: rem-calc(740);
  // margin-left: auto;
  // margin-right: auto;

  display: flex;
  width: 100%;
  justify-content: space-between;

  &__button {
    color: $c-medium-gray;
    &:hover {
      color: $c-primary;
    }
  }
  &__title {
    color: $c-primary;
  }
  &__list {
    display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-top: rem-calc(20);
    // flex-wrap: wrap;
  }
  &__item {
    // margin-left: rem-calc(10);
    margin-left: rem-calc(20);
    &--url {
      display: none;
    }
  }
  @include bp(md) {
    &__item {
      &--url {
        display: block;
      }
    }
  }
}
