.SideNav {
  &__header {
    display: flex;
    height: rem-calc(55);
    align-items: center;
    justify-content: flex-end;
    @include bp(md) {
      height: rem-calc(77);
    }
    @include bp(lg) {
      height: rem-calc(92);
    }
  }

  &__content {
    width: 100%;
    position: relative;
  }

  &__drawer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    text-align: right;
    max-width: rem-calc(400);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__menus {
    @include spacing(lg, 'padding-top');
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, $c-white, rgba($c-white, 0.75));
    z-index: 9;
  }
}
