// #portal {
//   position: absolute;
// }
.SlideoutNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;

  &__content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: $c-white;
    max-width: rem-calc(400);
    width: 100%;
  }
  &__background {
    background: rgba($c-gray, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
  &__header {
    display: flex;
    justify-content: flex-end;
    padding: rem-calc(10);
    border-bottom: 1px solid $c-gray;
  }
  &__close-button {
    height: rem-calc(62);
  }

  // &__body {
  //   padding: rem-calc(30);
  // }
}
