.SocialMediaShareButton {
  position: relative;
}
.SocialMediaShareCount {
  border-radius: 99px;
  color: $c-gray;
  font-size: 12px;
  font-weight: $f-regular;
  padding: 5px;
  line-height: 1;
  position: relative;
  z-index: 1;
  top: -0.5em;
  display: inline;
}
