.TagCloud {
  &__list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    margin: rem-calc(5);
  }
  &__link {
    border: 2px solid $c-light-gray;
    padding: rem-calc(7 15);
    color: $c-text;
    display: block;
    &:hover {
      background-color: $c-light-gray;
    }
    &--active {
      color: $c-primary;
      border-color: $c-primary;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
