$grid-columns: 12;
$gutters: (
  sm: 20,
  md: 30,
  lg: 50,
  xl: 60
);

// .container {
//   background: #f1f1f1;
// }
// .grid {
//   background: red;
// }
// .grid__item {
//   background: silver;
// }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: rem-calc(1400);

  &--text {
    max-width: rem-calc(860);
  }
  &--fluid {
    max-width: none;
  }

  // &--sm {
  //   max-width: rem-calc(600);
  // }
  // &--md {
  //   max-width: rem-calc(1024);
  // }
  // &--lg {
  //   max-width: rem-calc(440);
  // }

  // Add outer gutters
  @each $bp, $gutter in $gutters {
    @include bp($bp) {
      $value: rem-calc($gutter);
      padding-right: $value;
      padding-left: $value;
    }
  }
}

.grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }

  @each $bp, $gutter in $gutters {
    &--#{$bp} {
      &-center {
        justify-content: center;
      }
      &-left {
        justify-content: left;
      }
      &-middle {
        align-items: center;
      }
    }

    @include bp($bp) {
      $grid_gutter: rem-calc($gutter/2 * -1);
      margin-right: $grid_gutter;
      margin-left: $grid_gutter;
      &__item {
        $item_gutter: rem-calc($gutter/2);
        padding-right: $item_gutter;
        padding-left: $item_gutter;
        &--#{$bp} {
          flex-basis: auto;
        }
        @for $i from 1 through $grid-columns {
          &--#{$bp}-#{$i} {
            flex-basis: percentage($i/$grid-columns);
            max-width: percentage($i/$grid-columns);
          }
        }
      }
    }
  }
}

// @mixin hr-width {
//   @each $bp, $value in $gutters {
//     @include bp($bp) {
//       max-width: calc(#{$global-width} - #{rem-calc($value * 2)});
//     }
//   }
// }

@each $bp, $size in $breakpoints {
  @include bp($bp) {
    // .cell--#{$bp} {
    //   flex-basis: auto;
    // }
    // @for $i from 1 through $grid-columns {
    //   .cell--#{$bp}-#{$i} {
    //     flex-basis: percentage($i/$grid-columns);
    //     max-width: percentage($i/$grid-columns);
    //   }
    // }
    // @for $i from 0 through $grid-columns {
    //   .col-#{$bp}-offset-#{$i} {
    //     @if $i == 0 {
    //       margin-left: 0;
    //     } @else {
    //       margin-left: percentage($i/$grid-columns);
    //     }
    //   }
    // }
    // .col-#{$bp} {
    //   flex-grow: 1;
    //   flex-basis: 0;
    //   max-width: 100%;
    // }
    // .start-#{$bp} {
    //   justify-content: flex-start;
    //   text-align: left;
    // }

    // .center-#{$bp} {
    //   justify-content: center;
    //   text-align: center;
    // }

    // .end-#{$bp} {
    //   justify-content: flex-end;
    //   text-align: right;
    // }

    // .top-#{$bp} {
    //   align-items: flex-start;
    // }

    // .middle-#{$bp} {
    //   align-items: center;
    // }

    // .bottom-#{$bp} {
    //   align-items: flex-end;
    // }

    // .around-#{$bp} {
    //   justify-content: space-around;
    // }

    // .between-#{$bp} {
    //   justify-content: space-between;
    // }

    // .first-#{$bp} {
    //   order: -1;
    // }

    // .last-#{$bp} {
    //   order: 1;
    // }
  }
}
