$breakpoints: (
  sm: 0,
  md: 768,
  lg: 1024,
  xl: 1400
) !default;

@mixin bp($size) {
  @if $size == sm {
    @content;
  } @else {
    $bp: map-get($breakpoints, $size);
    @media screen and (min-width: #{em-calc($bp)}) {
      @content;
    }
  }
}
