// Fonts
$sans: 'Replica ProTT';
$serif: 'Tiempos Text';
$f-size: 50px;

// Colors
$c-main: #e42313;
$c-text: #1d1d1b;
$c-background: white;
$c-border: #1d1d1b;
$c-shadow: #efefef;

$breakpoints: (
  sm: 0,
  md: 768,
  lg: 1024,
  xl: 1400,
  xxl: 1800,
);

$content-width: (
  sm: (
    sm: 10,
    lg: 1245
  ),
  md: (
    sm: 684,
    lg: 1245
  ),
  xl: (
    sm: 1400,
    lg: 1600
  ),
);

// Spacing
$spacing: (
  sm: (
    sm: 15,
    md: 22,
    lg: 40,
    section: 80
  ),
  md: (
    sm: 15,
    md: 22,
    lg: 60,
    section: 140
  ),
  lg: (
    sm: 10,
    md: 22,
    lg: 60,
    section: 140
  )
);

// Typography
$typography: (
  sm: (
    h1: 31,
    h2: 31,
    h3: 31,
    body: 20,
    small: 16,
    lead: 31,
  ),
  md: (
    h1: 44,
    h2: 44,
    h3: 30,
    body: 20,
    small: 26,
    lead: 44,
  ),
  lg: (
    h1: 52,
    h2: 52,
    h3: 37,
    body: 22,
    small: 18,
    lead: 52,
  ),
);

// Border
$border__width: 1px;
$border__width--small: 1px;
$border__width--large: 5px;
$border: $border__width solid $c-border;

// Radius
$radius: 4px;

// Trans
$trans: 0.3s ease;
$trans--fast: 0.12s ease;
