.MoreArticles {
  text-align: center;
  margin-top: rem-calc(140);
  &__button {
    display: block;
    width: 100%;
    padding: rem-calc(70 40);
    text-align: center;
    background: $c-light-gray;
    color: $c-primary;
    transition: color 0.25s ease;
    &:hover {
      color: $c-black;
    }
  }
}

.Close {
  display: block;
  width: 28px;
  height: 28px;
  position: relative;
  span {
    width: 28px;
    height: 4px;
    background-color: $c-black;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    &:first-child {
      transform: rotate(-45deg);
    }
    &:last-child {
      transform: rotate(45deg);
    }
  }
}

.TagPage {
  &__header {
    @include spacing(lg, 'margin-top');
  }
  &__result {
    color: $c-primary;
    text-align: center;
    @include spacing(lg, ('margin-top', 'padding-bottom'));
    // border-bottom: 2px solid $c-light-gray;
  }
}
