@charset "UTF-8";
/*

Usage:

// With generated breakpoints
@include font-size($size:small, $props:('margin-top','margin-bottom'));

// As a property value
margin-top: font-size($size:small, $breakpoint:small);

*/
/*

Usage:

// With generated breakpoints
@include spacing($size:small, $props:('margin-top','margin-bottom'));

// As a property value
margin-top: spacing($size:small, $breakpoint:small);

*/
@keyframes slide-up {
  from {
    transform: translateY(100px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-regular.eot");
  src: url("/assets/fonts/lineto/lineto-replica-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-italic.eot");
  src: url("/assets/fonts/lineto/lineto-replica-italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-light.eot");
  src: url("/assets/fonts/lineto/lineto-replica-light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-lightitalic.eot");
  src: url("/assets/fonts/lineto/lineto-replica-lightitalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: swap; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-bold.eot");
  src: url("/assets/fonts/lineto/lineto-replica-bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap; }

@font-face {
  font-family: 'Tiempos Text';
  src: url("/assets/fonts/tiempos/TiemposText-Regular.eot");
  src: url("/assets/fonts/tiempos/TiemposText-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/tiempos/TiemposText-Regular.woff2") format("woff2"), url("/assets/fonts/tiempos/TiemposText-Regular.woff") format("woff"), url("/assets/fonts/tiempos/TiemposText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap; }

@font-face {
  font-family: 'Tiempos Text';
  src: url("/assets/fonts/tiempos/TiemposText-RegularItalic.eot");
  src: url("/assets/fonts/tiempos/TiemposText-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/tiempos/TiemposText-RegularItalic.woff2") format("woff2"), url("/assets/fonts/tiempos/TiemposText-RegularItalic.woff") format("woff"), url("/assets/fonts/tiempos/TiemposText-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

figure {
  margin: 0; }

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

hr {
  margin: 0;
  border: 0;
  border-top: 2px solid #373332; }
  hr.--primary {
    border-color: #dc1e0f; }

[role='button'],
button,
[type='button'] {
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  vertical-align: middle; }
  @media screen and (min-width: 48em) {
    [role='button'],
    button,
    [type='button'] {
      font-size: 1.125rem; } }
  @media screen and (min-width: 64em) {
    [role='button'],
    button,
    [type='button'] {
      font-size: 1.125rem; } }
  [role='button']:focus,
  button:focus,
  [type='button']:focus {
    outline: none; }

[type='text'] {
  border: 0;
  font-family: inherit;
  background: transparent;
  font-size: 1.125rem;
  font-weight: inherit; }
  @media screen and (min-width: 48em) {
    [type='text'] {
      font-size: 1.125rem; } }
  @media screen and (min-width: 64em) {
    [type='text'] {
      font-size: 1.125rem; } }

li {
  position: relative; }

figure {
  position: relative; }

figcaption:before {
  content: '↳ \00a0'; }

a {
  color: #373332; }

html {
  font-size: 100%; }

body {
  font-family: "Replica", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.65;
  font-weight: 400;
  color: #373332;
  -webkit-font-smoothing: antialiased;
  font-smooth: always; }
  @media screen and (min-width: 48em) {
    body {
      font-size: 1.125rem; } }
  @media screen and (min-width: 64em) {
    body {
      font-size: 1.125rem; } }

::selection {
  background: #b8b3ae; }

h1,
h2,
h3,
h4,
h5 {
  color: #373332;
  font-weight: 700; }

h1,
.h1 {
  font-size: 2.625rem;
  line-height: 1.2; }
  @media screen and (min-width: 48em) {
    h1,
    .h1 {
      font-size: 3.875rem; } }
  @media screen and (min-width: 64em) {
    h1,
    .h1 {
      font-size: 3.875rem; } }
  @media screen and (min-width: 0em) and (max-width: 48em) {
    h1,
    .h1 {
      word-wrap: break-word;
      overflow-wrap: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto; } }

h2,
.h2 {
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 48em) {
    h2,
    .h2 {
      font-size: 2.625rem; } }
  @media screen and (min-width: 64em) {
    h2,
    .h2 {
      font-size: 2.625rem; } }
  @media screen and (min-width: 48em) {
    h2,
    .h2 {
      margin-bottom: 3.75rem; } }
  @media screen and (min-width: 64em) {
    h2,
    .h2 {
      margin-bottom: 3.75rem; } }

h3,
.h3 {
  font-size: 1.75rem;
  line-height: 1.2; }
  @media screen and (min-width: 48em) {
    h3,
    .h3 {
      font-size: 1.75rem; } }
  @media screen and (min-width: 64em) {
    h3,
    .h3 {
      font-size: 1.75rem; } }
  @media screen and (min-width: 48em) {
    h3,
    .h3 {
      line-height: 1.27; } }

small {
  font-size: 1rem;
  line-height: 1.25; }
  @media screen and (min-width: 48em) {
    small {
      font-size: 1rem; } }
  @media screen and (min-width: 64em) {
    small {
      font-size: 1rem; } }

a {
  position: relative;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

strong {
  font-weight: 700; }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 87.5rem;
  display: block;
  padding-right: 1.25rem;
  padding-left: 1.25rem; }
  .container--text {
    max-width: 45rem; }
    @media screen and (min-width: 48em) {
      .container--text {
        max-width: 50rem; } }
    @media screen and (min-width: 64em) {
      .container--text {
        max-width: 52.5rem; } }
    @media screen and (min-width: 87.5em) {
      .container--text {
        max-width: 53.75rem; } }
  .container--fluid {
    max-width: none; }
  .container--fluid {
    padding-right: 1.25rem;
    padding-left: 1.25rem; }
  @media screen and (min-width: 48em) {
    .container {
      padding-right: 3.75rem;
      padding-left: 3.75rem; }
      .container--fluid {
        padding-right: 1.875rem;
        padding-left: 1.875rem; } }
  @media screen and (min-width: 64em) {
    .container {
      padding-right: 5rem;
      padding-left: 5rem; }
      .container--fluid {
        padding-right: 3.125rem;
        padding-left: 3.125rem; } }
  @media screen and (min-width: 87.5em) {
    .container {
      padding-right: 5.625rem;
      padding-left: 5.625rem; }
      .container--fluid {
        padding-right: 3.75rem;
        padding-left: 3.75rem; } }

.wrapper {
  margin-left: auto;
  margin-right: auto; }
  .wrapper--text {
    max-width: 42.5rem; }

.grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; }
  .grid__item {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%; }
  .grid--sm-center {
    justify-content: center; }
  .grid--sm-left {
    justify-content: left; }
  .grid--sm-middle {
    align-items: center; }
  .grid__item--sm {
    flex-basis: auto; }
  .grid__item--sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .grid__item--sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .grid__item--sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .grid__item--sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .grid__item--sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .grid__item--sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .grid__item--sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .grid__item--sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .grid__item--sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .grid__item--sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .grid__item--sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .grid__item--sm-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .grid--margin-x {
    margin-right: -0.625rem;
    margin-left: -0.625rem; }
  .grid--margin-x .grid__item {
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
  .grid--margin-y .grid__item {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; }
  .grid--md-center {
    justify-content: center; }
  .grid--md-left {
    justify-content: left; }
  .grid--md-middle {
    align-items: center; }
  @media screen and (min-width: 48em) {
    .grid__item--md {
      flex-basis: auto; }
    .grid__item--md-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .grid__item--md-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .grid__item--md-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .grid__item--md-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .grid__item--md-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .grid__item--md-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .grid__item--md-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .grid__item--md-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .grid__item--md-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .grid__item--md-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .grid__item--md-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .grid__item--md-12 {
      flex-basis: 100%;
      max-width: 100%; }
    .grid--margin-x {
      margin-right: -0.9375rem;
      margin-left: -0.9375rem; }
    .grid--margin-x .grid__item {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; }
    .grid--margin-y .grid__item {
      margin-top: 0.9375rem;
      margin-bottom: 0.9375rem; } }
  .grid--lg-center {
    justify-content: center; }
  .grid--lg-left {
    justify-content: left; }
  .grid--lg-middle {
    align-items: center; }
  @media screen and (min-width: 64em) {
    .grid__item--lg {
      flex-basis: auto; }
    .grid__item--lg-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .grid__item--lg-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .grid__item--lg-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .grid__item--lg-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .grid__item--lg-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .grid__item--lg-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .grid__item--lg-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .grid__item--lg-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .grid__item--lg-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .grid__item--lg-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .grid__item--lg-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .grid__item--lg-12 {
      flex-basis: 100%;
      max-width: 100%; }
    .grid--margin-x {
      margin-right: -1.5625rem;
      margin-left: -1.5625rem; }
    .grid--margin-x .grid__item {
      padding-right: 1.5625rem;
      padding-left: 1.5625rem; }
    .grid--margin-y .grid__item {
      margin-top: 1.5625rem;
      margin-bottom: 1.5625rem; } }
  .grid--xl-center {
    justify-content: center; }
  .grid--xl-left {
    justify-content: left; }
  .grid--xl-middle {
    align-items: center; }
  @media screen and (min-width: 87.5em) {
    .grid__item--xl {
      flex-basis: auto; }
    .grid__item--xl-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .grid__item--xl-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .grid__item--xl-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .grid__item--xl-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .grid__item--xl-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .grid__item--xl-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .grid__item--xl-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .grid__item--xl-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .grid__item--xl-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .grid__item--xl-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .grid__item--xl-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .grid__item--xl-12 {
      flex-basis: 100%;
      max-width: 100%; }
    .grid--margin-x {
      margin-right: -1.875rem;
      margin-left: -1.875rem; }
    .grid--margin-x .grid__item {
      padding-right: 1.875rem;
      padding-left: 1.875rem; }
    .grid--margin-y .grid__item {
      margin-top: 1.875rem;
      margin-bottom: 1.875rem; } }

.c-primary {
  color: #dc1e0f; }

.cookieConsent {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  background: #dc1e0f;
  color: #fff;
  width: 100%;
  font-size: 1rem; }
  @media screen and (min-width: 48em) {
    .cookieConsent {
      font-size: 1rem; } }
  @media screen and (min-width: 64em) {
    .cookieConsent {
      font-size: 1rem; } }

.StickyPosts {
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }
  .StickyPosts__list {
    align-items: center; }
  .StickyPosts__item {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
  .StickyPosts__title, .StickyPosts__link {
    color: #dc1e0f; }
  @media screen and (min-width: 48em) {
    .StickyPosts {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem; } }
  @media screen and (min-width: 64em) {
    .StickyPosts {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem; } }

.SideNav__header {
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: flex-end; }

.SideNav__content {
  width: 100%;
  position: relative; }

.SideNav__drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  text-align: right;
  max-width: 25rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.SideNav__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0.75));
  z-index: 9; }

.NavMenu__link {
  display: block;
  padding: 0.625rem 0;
  color: #dc1e0f;
  font-size: 1.75rem;
  line-height: 1; }
  @media screen and (min-width: 48em) {
    .NavMenu__link {
      font-size: 1.75rem; } }
  @media screen and (min-width: 64em) {
    .NavMenu__link {
      font-size: 1.75rem; } }
  .NavMenu__link:hover {
    color: #373332; }
  .NavMenu__link--active {
    color: #373332; }

.Article {
  margin-top: 4.375rem; }
  .Article__inner {
    border-top: 2px solid #dc1e0f; }
  .Article--red .Article__title a {
    background: #dc1e0f;
    color: #fff;
    padding: 0 0.625rem; }
  .Article--frame .Article__inner {
    border: 2px solid #f1eeeb; }
  .Article__stickyContainer {
    position: relative; }
  .Article__sticky {
    position: absolute;
    top: 0;
    display: none; }
    .Article__sticky--stuck {
      padding-top: 40px; }
    @media screen and (min-width: 64em) {
      .Article__sticky {
        display: block; } }
  .Article__image {
    margin-top: 2.5rem; }
  .Article__content {
    margin: 0 auto;
    margin-top: 1.875rem; }
  .Article__header {
    margin-top: 1.25rem; }
  .Article__intro {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 auto;
    margin-top: 1.25rem; }
    @media screen and (min-width: 48em) {
      .Article__intro {
        font-size: 1.75rem; } }
    @media screen and (min-width: 64em) {
      .Article__intro {
        font-size: 1.75rem; } }
  .Article__meta {
    margin-bottom: 1.25rem; }
  @media screen and (min-width: 48em) {
    .Article__header {
      margin-top: 4.375rem;
      text-align: center; }
    .Article__intro {
      margin-top: 1.875rem; }
    .Article__meta {
      margin-bottom: 1.875rem; }
    .Article__content {
      margin-top: 4.375rem; } }

.ArticleFooter {
  margin-top: 3.75rem; }
  .ArticleFooter__content {
    border-top: 2px solid #f1eeeb;
    padding-top: 2.5rem;
    padding-bottom: 1.25rem; }
  .ArticleFooter__item {
    margin-top: 3.75rem; }
    .ArticleFooter__item:first-child {
      margin-top: 0; }

.Author {
  text-align: center; }
  .Author__media {
    overflow: hidden;
    border-radius: 9999px;
    max-width: 6.25rem;
    margin-right: 1.25rem;
    margin: 0 auto; }
  .Author__content {
    margin-top: 1.25rem;
    line-height: 1.34; }
  @media screen and (min-width: 48em) {
    .Author {
      display: flex;
      align-items: center;
      text-align: left;
      max-width: 25rem; }
      .Author__content {
        margin-top: 0;
        padding-left: 1.875rem; }
      .Author__media {
        margin: 0;
        min-width: 33.33%; } }

.App {
  padding-left: 10px; }
  .App__header {
    z-index: 100; }
  @media screen and (min-width: 48em) {
    .App {
      padding-left: 40px; } }

.AppFooter {
  height: 10px;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100vh;
  background: #dc1e0f;
  transform: rotate(-90deg);
  transform-origin: top left;
  font-size: 1rem;
  color: #fff; }
  @media screen and (min-width: 48em) {
    .AppFooter {
      font-size: 1rem; } }
  @media screen and (min-width: 64em) {
    .AppFooter {
      font-size: 1rem; } }
  .AppFooter__content {
    display: none;
    line-height: 1;
    padding: 0.625rem;
    justify-content: space-between; }
  .AppFooter a {
    text-decoration: underline;
    color: #fff; }
    .AppFooter a:hover {
      text-decoration: none; }
  @media screen and (min-width: 48em) {
    .AppFooter {
      height: 40px; }
      .AppFooter__content {
        display: flex; } }

.SvgFlame {
  height: 1em;
  width: auto;
  margin-left: 0.3125rem; }

.development:after {
  position: fixed;
  right: 1.375rem;
  bottom: 1.375rem;
  font-size: 1.75rem; }
  @media screen and (min-width: 48em) {
    .development:after {
      right: 1.375rem;
      bottom: 1.375rem; } }
  @media screen and (min-width: 64em) {
    .development:after {
      right: 1.25rem;
      bottom: 1.25rem; } }
  @media screen and (min-width: 48em) {
    .development:after {
      font-size: 2.625rem; } }
  @media screen and (min-width: 64em) {
    .development:after {
      font-size: 2.625rem; } }

.development:after {
  content: sm; }

@media screen and (min-width: 48em) {
  .development:after {
    content: md; } }

@media screen and (min-width: 64em) {
  .development:after {
    content: lg; } }

@media screen and (min-width: 87.5em) {
  .development:after {
    content: xl; } }

@media screen and (min-width: 112.5em) {
  .development:after {
    content: xxl; } }

.editor {
  font-size: 1.25rem;
  font-family: "Tiempos Text", Times, serif; }
  @media screen and (min-width: 48em) {
    .editor {
      font-size: 1.25rem; } }
  @media screen and (min-width: 64em) {
    .editor {
      font-size: 1.25rem; } }
  .editor em {
    font-style: italic; }
  .editor h1,
  .editor h2,
  .editor h3,
  .editor h4,
  .editor h5,
  .editor h6,
  .editor blockquote,
  .editor strong {
    font-family: "Replica", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .editor h1,
  .editor h2,
  .editor h3 {
    margin-bottom: 1.25rem; }
  .editor h1,
  .editor h2 {
    margin-top: 4.375rem; }
  .editor h3 {
    margin-top: 2.5rem; }
  .editor h4 {
    font-weight: 700;
    margin-bottom: 0.3125rem;
    color: #dc1e0f;
    margin-bottom: 0.9375rem;
    margin-top: 1.875rem; }
  .editor p > strong {
    display: inline-block;
    line-height: 1.4;
    font-size: 1.1em; }
  .editor p {
    margin-bottom: 1.25rem; }
  .editor ul {
    list-style-type: none;
    padding-left: 25px; }
    .editor ul li:before {
      content: '';
      vertical-align: baseline;
      position: relative;
      top: 1px;
      border-radius: 99px;
      background: #dc1e0f;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: -25px;
      margin-right: 9px; }
  .editor ol {
    list-style-type: none;
    counter-reset: item;
    padding-left: 25px; }
    .editor ol li:before {
      content: counter(item) " ";
      display: inline-block;
      counter-increment: item;
      width: 25px;
      margin-left: -25px;
      color: #dc1e0f;
      font-family: "Replica", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700; }
  .editor ul,
  .editor ol {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem; }
    .editor ul li,
    .editor ol li {
      margin-bottom: 0.625rem; }
  .editor blockquote {
    margin-top: 2.1875rem;
    margin-bottom: 2.1875rem;
    font-size: 1.75rem;
    color: #dc1e0f;
    text-align: center;
    font-weight: bold;
    line-height: 1.25; }
    @media screen and (min-width: 48em) {
      .editor blockquote {
        font-size: 2.625rem; } }
    @media screen and (min-width: 64em) {
      .editor blockquote {
        font-size: 2.625rem; } }
    .editor blockquote p {
      line-height: inherit; }
    .editor blockquote cite {
      font-size: 1.125rem;
      margin-top: 4.375rem;
      display: block; }
      @media screen and (min-width: 48em) {
        .editor blockquote cite {
          font-size: 1.125rem; } }
      @media screen and (min-width: 64em) {
        .editor blockquote cite {
          font-size: 1.125rem; } }
      .editor blockquote cite:before {
        content: '— '; }
    @media screen and (min-width: 64em) {
      .editor blockquote {
        margin-left: -7.5rem;
        margin-right: -7.5rem; } }
  .editor .embed {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    position: relative; }
    .editor .embed__pusher {
      width: 100%;
      height: 0; }
    .editor .embed iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .editor img {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem; }
  @media screen and (min-width: 48em) {
    .editor blockquote {
      margin-top: 4.375rem;
      margin-bottom: 4.375rem; } }

.Header {
  width: 100%; }
  .Header__content {
    display: flex;
    align-items: center;
    position: relative; }
  .Header__logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.625rem;
    color: #373332;
    line-height: 1;
    display: block;
    color: #fff;
    background: #dc1e0f;
    padding: 0.3125rem 0.625rem; }
  .Header__nav--right {
    position: absolute;
    right: 0; }
  @media screen and (min-width: 48em) {
    .Header__content {
      justify-content: center; }
    .Header__logo {
      font-size: 3.875rem; } }

.Card {
  text-align: center;
  border-bottom: 1px solid #000;
  padding-top: 2.5rem;
  padding-bottom: 3.125rem; }
  .Card__title {
    margin-bottom: 1.875rem; }

.TagCloud__list {
  display: flex; }

.TagCloud__item {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.SlideoutNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200; }
  .SlideoutNav__content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    max-width: 25rem;
    width: 100%; }
  .SlideoutNav__background {
    background: rgba(184, 179, 174, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer; }
  .SlideoutNav__header {
    display: flex;
    justify-content: flex-end;
    padding: 0.625rem;
    border-bottom: 1px solid #b8b3ae; }
  .SlideoutNav__close-button {
    height: 3.875rem; }

.ShareButtons__list {
  align-items: center;
  margin-top: 1.25rem; }

.ShareButtons__item {
  margin-right: 1.25rem; }
  .ShareButtons__item--url {
    display: none; }

@media screen and (min-width: 48em) {
  .ShareButtons__item--url {
    display: block; } }

.SocialMediaShareButton {
  position: relative; }

.SocialMediaShareCount {
  border-radius: 99px;
  color: #b8b3ae;
  font-size: 12px;
  font-weight: 400;
  padding: 5px;
  line-height: 1;
  position: relative;
  z-index: 1;
  top: -0.5em;
  display: inline; }

.ShareURL {
  border: 1px solid #b8b3ae;
  padding: 0.625rem; }

.SearchView {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  overflow: auto; }

.Terms__item--active {
  text-decoration: underline; }

.wp-caption {
  max-width: 100% !important; }

.MoreArticles {
  text-align: center;
  margin-top: 8.75rem; }
  .MoreArticles__button {
    display: block;
    width: 100%;
    padding: 4.375rem 2.5rem;
    text-align: center;
    background: #f1eeeb;
    color: #dc1e0f;
    transition: color 0.25s ease; }
    .MoreArticles__button:hover {
      color: #373332; }

.Burger span {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  display: block; }

.Close span {
  width: 35px;
  height: 5px;
  background-color: #333;
  display: block; }
  .Close span:first-child {
    transform: rotate(-45deg) translate(0, 3.5px); }
  .Close span:last-child {
    transform: rotate(45deg) translate(0, -3.5px); }

.AdminBar {
  position: fixed;
  bottom: 10px;
  left: 10px; }

.AdminBar a,
.EditPostLink__link {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border-radius: 3px;
  padding: 5px 15px;
  background: #0073aa;
  color: #fff;
  display: inline-block; }
  .AdminBar a:hover,
  .EditPostLink__link:hover {
    background: #00a0d2; }

.EditPostLink {
  margin-top: 1.5625rem; }
