.editor {
  hyphens: auto;
  
  blockquote {
    @include spacing('md', 'margin-bottom');
  }

  blockquote + p {
    @include spacing('md', 'margin-bottom');
  }

  p {
    @include spacing('md', 'margin-bottom');
  }

  img {
    width: auto;
    max-width: 100%;
  }
}
