@mixin showQueries {
  &:after {
    position: fixed;
    @include spacing('md', ('right', 'bottom'));
    @include font-size(h2);
  }
  @each $bp, $val in $breakpoints {
    @include bp($bp) {
      &:after {
        content: #{$bp};
      }
    }
  }
}

@mixin content-width($size) {
  @each $bp, $widths in $content-width {
    @if $bp == sm {
      max-width: 100%;
      @include spacing('md', ('padding-left', 'padding-right'));
    } @else {
      @include bp($bp) {
        $width: map-get($widths, $size);
        max-width: rem-calc($width);
        margin-left: auto;
        margin-right: auto;
        @include spacing('md', ('padding-left', 'padding-right'));
      }
    }
  }
}

@mixin t-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 400;
  @include font-size(small);
}
