$font-directory: '/fonts';

// Regular
@font-face {
  font-family: 'Replica';
  src: url('#{$font-directory}/lineto/lineto-replica-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

// Regular Italic
@font-face {
  font-family: 'Replica';
  src: url('#{$font-directory}/lineto/lineto-replica-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

// Light
@font-face {
  font-family: 'Replica';
  src: url('#{$font-directory}/lineto/lineto-replica-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

// Light Italic
@font-face {
  font-family: 'Replica';
  src: url('#{$font-directory}/lineto/lineto-replica-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

// Bold
@font-face {
  font-family: 'Replica';
  src: url('#{$font-directory}/lineto/lineto-replica-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

// Tiempos Text - Regular
@font-face {
  font-family: 'Tiempos Text';
  src: url('#{$font-directory}/tiempos/TiemposText-Regular.woff2') format('woff2'),
    url('#{$font-directory}/tiempos/TiemposText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

// Tiempos Text - Regular Italic
@font-face {
  font-family: 'Tiempos Text';
  src: url('#{$font-directory}/tiempos/TiemposText-RegularItalic.woff2') format('woff2'),
    url('#{$font-directory}/tiempos/TiemposText-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
