// Fonts
$f-sans: 'Replica', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-serif: 'Tiempos Text', Times, serif;
$f-size: 50px;

// Colors
$c-black: #373332;
$c-white: #fff;
$c-primary: #dc1e0f;
$c-medium-gray: #b8b3ae;
$c-light-gray: #f1eeeb;
$c-gray: #b8b3ae;

$c-wp-blue: #0073aa;
$c-wp-medium-blue: #00a0d2;

$c-background: $c-white;
$c-meta: $c-medium-gray;
$c-text: $c-black;

$breakpoints: (
  sm: 0,
  md: 768,
  lg: 1024,
  xl: 1400,
  xxl: 1800
);

$content-width: (
  sm: (
    sm: 10,
    lg: 1245
  ),
  md: (
    sm: 684,
    lg: 1245
  ),
  xl: (
    sm: 1400,
    lg: 1600
  )
);

// Spacing
$spacing: (
  sm: (
    sm: 15,
    md: 22,
    lg: 40,
    section: 80
  ),
  md: (
    sm: 15,
    md: 22,
    lg: 60,
    section: 140
  ),
  lg: (
    sm: 10,
    md: 20,
    lg: 60,
    section: 140
  )
);

// Typography
$typography: (
  sm: (
    h1: 42,
    h2: 28,
    h3: 28,
    body: 18,
    small: 16,
    lead: 28,
    text: 20
  ),
  md: (
    h1: 62,
    h2: 42,
    h3: 28,
    body: 18,
    small: 16,
    lead: 28,
    text: 20
  ),
  lg: (
    h1: 62,
    h2: 42,
    h3: 28,
    body: 18,
    small: 16,
    lead: 28,
    text: 20
  )
);

// Radius
$radius: 4px;

// Transition
$ease-default: cubic-bezier(0.4, 0, 0.2, 1);
// Objects quickly accelerate and slowly decelerate between on-screen locations.
$ease-out: cubic-bezier(0, 0, 0.2, 1);
// Objects enter the screen at full velocity from off-screen and slowly decelerate to a resting point.
$ease-in: cubic-bezier(0.4, 0, 1, 1);
// Objects leave the screen at full velocity. They do not decelerate when off-screen.
$ease-sharp: cubic-bezier(0.4, 0, 0.6, 1);
// The sharp curve is used by objects that may return to the screen at any time. (in and out of screen bounds)
