// Fonts
$f-sans: 'Replica', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-serif: 'Tiempos Text', Times, serif;
$f-size: 50px;

// Colors
$c-black: #373332;
$c-white: #fff;
$c-primary: #dc1e0f;
$c-medium-gray: #b8b3ae;
$c-light-gray: #f1eeeb;
$c-gray: #b8b3ae;

$c-background: $c-white;
$c-meta: $c-medium-gray;
$c-text: $c-black;

$breakpoints: (
  sm: 0,
  md: 768,
  lg: 1024,
  xl: 1400,
  xxl: 1800
);

$content-width: (
  sm: (
    sm: 10,
    lg: 1245
  ),
  md: (
    sm: 684,
    lg: 1245
  ),
  xl: (
    sm: 1400,
    lg: 1600
  )
);

// Spacing
$spacing: (
  sm: (
    sm: 15,
    md: 22,
    lg: 40,
    section: 80
  ),
  md: (
    sm: 15,
    md: 22,
    lg: 60,
    section: 140
  ),
  lg: (
    sm: 10,
    md: 20,
    lg: 60,
    section: 140
  )
);

// Typography
$typography: (
  sm: (
    h1: 42,
    h2: 28,
    h3: 28,
    body: 18,
    small: 16,
    lead: 28,
    text: 20
  ),
  md: (
    h1: 62,
    h2: 42,
    h3: 28,
    body: 18,
    small: 16,
    lead: 28,
    text: 20
  ),
  lg: (
    h1: 62,
    h2: 42,
    h3: 28,
    body: 18,
    small: 16,
    lead: 28,
    text: 20
  )
);

// Radius
$radius: 4px;

// Trans
$trans: 0.3s ease;
$trans--fast: 0.12s ease;
