$spacing: (
  sm: (
    sm: 12,
    md: 25,
    lg: 50,
    section: 80
  ),
  md: (
    sm: 12,
    md: 25,
    lg: 50,
    section: 140
  )
) !default;

@function spacing($size, $breakpoint) {
  $sizes: map-get($spacing, $breakpoint);
  $spacing: map-get($sizes, $size);
  @return rem-calc($spacing);
}

@mixin spacing($size, $props) {
  @each $bp, $sizes in $spacing {
    @include bp($bp) {
      $spacing: map-get($sizes, $size);
      @each $prop in $props {
        #{$prop}: rem-calc($spacing);
      }
    }
  }
}

/*

Usage:

// With generated breakpoints
@include spacing($size:sm, $props:('margin-top','margin-bottom'));

// As a property value
margin-top: spacing($size:sm, $breakpoint:sm);

*/
