@charset "UTF-8";
/*

Usage:

// With generated breakpoints
@include spacing($size:small, $props:('margin-top','margin-bottom'));

// As a property value
margin-top: spacing($size:small, $breakpoint:small);

*/
/*

Usage:

// With generated breakpoints
@include font-size($size:small, $props:('margin-top','margin-bottom'));

// As a property value
margin-top: font-size($size:small, $breakpoint:small);

*/
@keyframes slide-up {
  from {
    transform: translateY(100px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-regular.eot");
  src: url("/assets/fonts/lineto/lineto-replica-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-italic.eot");
  src: url("/assets/fonts/lineto/lineto-replica-italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-light.eot");
  src: url("/assets/fonts/lineto/lineto-replica-light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-lightitalic.eot");
  src: url("/assets/fonts/lineto/lineto-replica-lightitalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-bold.eot");
  src: url("/assets/fonts/lineto/lineto-replica-bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Tiempos Text';
  src: url("/assets/fonts/tiempos/TiemposText-Regular.eot");
  src: url("/assets/fonts/tiempos/TiemposText-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/tiempos/TiemposText-Regular.woff2") format("woff2"), url("/assets/fonts/tiempos/TiemposText-Regular.woff") format("woff"), url("/assets/fonts/tiempos/TiemposText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Tiempos Text';
  src: url("/assets/fonts/tiempos/TiemposText-RegularItalic.eot");
  src: url("/assets/fonts/tiempos/TiemposText-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/tiempos/TiemposText-RegularItalic.woff2") format("woff2"), url("/assets/fonts/tiempos/TiemposText-RegularItalic.woff") format("woff"), url("/assets/fonts/tiempos/TiemposText-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

figure {
  margin: 0; }

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

[role='button'],
button,
[type='button'] {
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  vertical-align: middle; }
  @media screen and (min-width: 48em) {
    [role='button'],
    button,
    [type='button'] {
      font-size: 1.25rem; } }
  @media screen and (min-width: 64em) {
    [role='button'],
    button,
    [type='button'] {
      font-size: 1rem; } }
  [role='button']:focus,
  button:focus,
  [type='button']:focus {
    outline: none; }

[type='text'] {
  border: 0;
  font-family: inherit;
  background: transparent;
  font-size: 1.25rem;
  font-weight: inherit; }
  @media screen and (min-width: 48em) {
    [type='text'] {
      font-size: 1.25rem; } }
  @media screen and (min-width: 64em) {
    [type='text'] {
      font-size: 1rem; } }

li {
  position: relative; }

figure {
  position: relative; }

figcaption:before {
  content: '↳ \00a0'; }

a {
  color: #373332; }

html {
  font-size: 100%; }

body {
  font-family: "Replica", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  color: #373332;
  -webkit-font-smoothing: antialiased;
  font-smooth: always; }
  @media screen and (min-width: 48em) {
    body {
      font-size: 1.25rem; } }
  @media screen and (min-width: 64em) {
    body {
      font-size: 1rem; } }

::selection {
  background: #b8b3ae; }

h1,
h2,
h3 {
  color: #373332;
  font-weight: 700; }

h4,
h5 {
  color: #373332;
  font-weight: 400; }

h1,
.h1 {
  font-size: 1.9375rem;
  line-height: 1; }
  @media screen and (min-width: 48em) {
    h1,
    .h1 {
      font-size: 2.75rem; } }
  @media screen and (min-width: 64em) {
    h1,
    .h1 {
      font-size: 3.875rem; } }

h2,
.h2 {
  font-size: 1.9375rem;
  line-height: 1;
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 48em) {
    h2,
    .h2 {
      font-size: 2.75rem; } }
  @media screen and (min-width: 64em) {
    h2,
    .h2 {
      font-size: 2.625rem; } }
  @media screen and (min-width: 48em) {
    h2,
    .h2 {
      margin-bottom: 3.75rem; } }
  @media screen and (min-width: 64em) {
    h2,
    .h2 {
      margin-bottom: 3.75rem; } }

h3,
.h3 {
  font-size: 1.9375rem;
  line-height: 1.3; }
  @media screen and (min-width: 48em) {
    h3,
    .h3 {
      font-size: 1.875rem; } }
  @media screen and (min-width: 64em) {
    h3,
    .h3 {
      font-size: 1.75rem; } }
  @media screen and (min-width: 48em) {
    h3,
    .h3 {
      line-height: 1.27; } }

small {
  font-size: 1rem;
  line-height: 1.25; }
  @media screen and (min-width: 48em) {
    small {
      font-size: 1.625rem; } }
  @media screen and (min-width: 64em) {
    small {
      font-size: 1rem; } }

a {
  position: relative;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

strong {
  font-weight: 700; }

.NavMenu__link {
  display: block;
  padding: 0.3125rem 1.875rem; }
  .NavMenu__link--active {
    background: #dc1e0f;
    color: #fff; }

.Author {
  display: flex;
  align-items: center; }
  .Author__media {
    overflow: hidden;
    border-radius: 9999px;
    max-width: 5.625rem;
    margin-right: 1.25rem; }

.App__header {
  z-index: 100; }

.App__content {
  padding-top: 5.3125rem; }

.development:after {
  position: fixed;
  right: 1.375rem;
  bottom: 1.375rem;
  font-size: 1.9375rem; }
  @media screen and (min-width: 48em) {
    .development:after {
      right: 1.375rem;
      bottom: 1.375rem; } }
  @media screen and (min-width: 64em) {
    .development:after {
      right: 1.25rem;
      bottom: 1.25rem; } }
  @media screen and (min-width: 48em) {
    .development:after {
      font-size: 2.75rem; } }
  @media screen and (min-width: 64em) {
    .development:after {
      font-size: 2.625rem; } }

.development:after {
  content: sm; }

@media screen and (min-width: 48em) {
  .development:after {
    content: md; } }

@media screen and (min-width: 64em) {
  .development:after {
    content: lg; } }

@media screen and (min-width: 87.5em) {
  .development:after {
    content: xl; } }

@media screen and (min-width: 112.5em) {
  .development:after {
    content: xxl; } }

.container {
  position: relative;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto; }

.editor {
  font-size: 1.25rem;
  font-family: "Tiempos Text", Times, serif; }
  @media screen and (min-width: 48em) {
    .editor {
      font-size: 1.25rem; } }
  @media screen and (min-width: 64em) {
    .editor {
      font-size: 1.25rem; } }
  .editor em {
    font-style: italic; }
  .editor h1,
  .editor h2,
  .editor h3,
  .editor h4,
  .editor h5,
  .editor h6,
  .editor blockquote,
  .editor strong {
    font-family: "Replica", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .editor h1,
  .editor h2,
  .editor h3 {
    margin-bottom: 1.25rem; }
  .editor h1,
  .editor h2 {
    margin-top: 4.375rem; }
  .editor h3 {
    margin-top: 2.5rem; }
  .editor h4 {
    font-weight: 700;
    margin-bottom: 0.3125rem;
    color: #dc1e0f;
    margin-bottom: 0.9375rem;
    margin-top: 1.875rem; }
  .editor p > strong {
    display: inline-block;
    line-height: 1.4;
    font-size: 1.1em; }
  .editor p {
    margin-bottom: 1.25rem; }
  .editor ul {
    list-style-type: disc; }
  .editor ol {
    list-style-type: decimal; }
  .editor ul,
  .editor ol {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-left: 2.5rem; }
    .editor ul li,
    .editor ol li {
      margin-bottom: 0.625rem; }
  .editor blockquote {
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
    font-size: 1.9375rem;
    color: #dc1e0f;
    text-align: center;
    font-weight: bold;
    line-height: 1.25; }
    @media screen and (min-width: 48em) {
      .editor blockquote {
        font-size: 2.75rem; } }
    @media screen and (min-width: 64em) {
      .editor blockquote {
        font-size: 2.625rem; } }
    .editor blockquote p {
      line-height: inherit; }
    .editor blockquote cite {
      font-size: 1.25rem;
      margin-top: 4.375rem;
      display: block; }
      @media screen and (min-width: 48em) {
        .editor blockquote cite {
          font-size: 1.25rem; } }
      @media screen and (min-width: 64em) {
        .editor blockquote cite {
          font-size: 1rem; } }
      .editor blockquote cite:before {
        content: '— '; }
    @media screen and (min-width: 64em) {
      .editor blockquote {
        margin-left: -8.75rem;
        margin-right: -8.75rem; } }
  .editor .embed {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    position: relative; }
    .editor .embed__pusher {
      width: 100%;
      height: 0; }
    .editor .embed iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .editor img {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem; }

.Header {
  width: 100%; }
  .Header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    height: 5.1875rem; }
  .Header__logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.875rem;
    color: #373332; }
  .Header__nav--right {
    position: absolute;
    right: 0;
    padding: 0.625rem; }

.Cards__item {
  text-align: center;
  border-bottom: 1px solid #000; }

.TagCloud__list {
  display: flex; }

.TagCloud__item {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.SlideoutNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200; }
  .SlideoutNav__content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    max-width: 25rem;
    width: 100%; }
  .SlideoutNav__background {
    background: rgba(184, 179, 174, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer; }
  .SlideoutNav__header {
    display: flex;
    justify-content: flex-end;
    padding: 0.625rem;
    border-bottom: 1px solid #b8b3ae; }
  .SlideoutNav__close-button {
    height: 3.875rem; }

.ShareButtons {
  text-align: center;
  border-top: 1px solid #b8b3ae;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  margin-top: 4.375rem;
  max-width: 46.25rem;
  margin-left: auto;
  margin-right: auto; }
  .ShareButtons__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem; }
  .ShareButtons__item {
    margin-left: 0.625rem;
    margin-right: 0.625rem; }

.SocialMediaShareButton {
  position: relative; }

.SocialMediaShareCount {
  border-radius: 99px;
  color: #b8b3ae;
  font-size: 12px;
  font-weight: 400;
  padding: 5px;
  line-height: 1;
  position: relative;
  z-index: 1;
  top: -0.5em;
  display: inline; }

.ShareURL {
  border: 1px solid #b8b3ae;
  padding: 0.625rem; }

.SearchView {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  overflow: auto; }

.Terms__item--active {
  text-decoration: underline; }

.wp-caption {
  max-width: 100% !important; }

.ArticleHeader {
  margin-top: 4.375rem;
  margin-bottom: 4.375rem;
  text-align: center; }
  .ArticleHeader__intro {
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 46.25rem;
    margin: 0 auto;
    margin-top: 1.875rem; }
    @media screen and (min-width: 48em) {
      .ArticleHeader__intro {
        font-size: 1.625rem; } }
    @media screen and (min-width: 64em) {
      .ArticleHeader__intro {
        font-size: 1.75rem; } }
  .ArticleHeader__meta {
    margin-bottom: 1.875rem; }
  .ArticleHeader__image {
    max-width: 72.5rem;
    margin: 0 auto;
    margin-top: 2.5rem; }

.Article__content {
  max-width: 46.25rem;
  margin: 0 auto; }

.Articles__item {
  border-bottom: 1px solid #373332; }

.MoreArticles {
  text-align: center;
  padding-top: 8.75rem;
  padding-bottom: 8.75rem; }

.AdminBar {
  padding: 5px;
  background: #373332;
  color: #fff;
  width: 100%; }
