@charset "UTF-8";
/*

Usage:

// With generated breakpoints
@include spacing($size:small, $props:('margin-top','margin-bottom'));

// As a property value
margin-top: spacing($size:small, $breakpoint:small);

*/
/*

Usage:

// With generated breakpoints
@include font-size($size:small, $props:('margin-top','margin-bottom'));

// As a property value
margin-top: font-size($size:small, $breakpoint:small);

*/
@keyframes slide-up {
  from {
    transform: translateY(100px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-regular.eot");
  src: url("/assets/fonts/lineto/lineto-replica-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-italic.eot");
  src: url("/assets/fonts/lineto/lineto-replica-italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-light.eot");
  src: url("/assets/fonts/lineto/lineto-replica-light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-lightitalic.eot");
  src: url("/assets/fonts/lineto/lineto-replica-lightitalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: 'Replica';
  src: url("/assets/fonts/lineto/lineto-replica-bold.eot");
  src: url("/assets/fonts/lineto/lineto-replica-bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lineto/lineto-replica-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

figure {
  margin: 0; }

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

[role='button'] {
  cursor: pointer; }

li {
  position: relative; }

figure {
  position: relative; }

figcaption:before {
  content: '↳ \00a0'; }

.SocialMediaShareCount {
  display: inline;
  margin-left: 0.25rem; }

html {
  font-size: 100%; }

body {
  font-family: "Replica";
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 300;
  color: #1d1d1b;
  -webkit-font-smoothing: antialiased; }
  @media screen and (min-width: 48em) {
    body {
      font-size: 1.25rem; } }
  @media screen and (min-width: 64em) {
    body {
      font-size: 1.375rem; } }

::selection {
  background: #b8b3ae; }

h1,
h2,
h3 {
  font-weight: 700; }

h4,
h5 {
  font-weight: 400; }

h1,
.h1 {
  font-size: 1.9375rem;
  line-height: 1; }
  @media screen and (min-width: 48em) {
    h1,
    .h1 {
      font-size: 2.75rem; } }
  @media screen and (min-width: 64em) {
    h1,
    .h1 {
      font-size: 3.875rem; } }

h2,
.h2 {
  font-size: 1.9375rem;
  line-height: 1;
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 48em) {
    h2,
    .h2 {
      font-size: 2.75rem; } }
  @media screen and (min-width: 64em) {
    h2,
    .h2 {
      font-size: 3.25rem; } }
  @media screen and (min-width: 48em) {
    h2,
    .h2 {
      margin-bottom: 3.75rem; } }
  @media screen and (min-width: 64em) {
    h2,
    .h2 {
      margin-bottom: 3.75rem; } }

h3,
.h3 {
  font-size: 1.9375rem;
  line-height: 1.3; }
  @media screen and (min-width: 48em) {
    h3,
    .h3 {
      font-size: 1.875rem; } }
  @media screen and (min-width: 64em) {
    h3,
    .h3 {
      font-size: 2.25rem; } }
  @media screen and (min-width: 48em) {
    h3,
    .h3 {
      line-height: 1.27; } }

small {
  font-size: 1rem;
  line-height: 1.25; }
  @media screen and (min-width: 48em) {
    small {
      font-size: 1.625rem; } }
  @media screen and (min-width: 64em) {
    small {
      font-size: 1rem; } }

a {
  position: relative;
  text-decoration: none;
  line-height: 0.9em;
  transition: 0.3s ease; }
  a:hover {
    border-color: transparent; }

strong {
  font-weight: 700; }

.development:after {
  position: fixed;
  right: 1.375rem;
  bottom: 1.375rem;
  font-size: 1.9375rem; }
  @media screen and (min-width: 48em) {
    .development:after {
      right: 1.375rem;
      bottom: 1.375rem; } }
  @media screen and (min-width: 64em) {
    .development:after {
      right: 1.375rem;
      bottom: 1.375rem; } }
  @media screen and (min-width: 48em) {
    .development:after {
      font-size: 2.75rem; } }
  @media screen and (min-width: 64em) {
    .development:after {
      font-size: 3.25rem; } }

.development:after {
  content: sm; }

@media screen and (min-width: 48em) {
  .development:after {
    content: md; } }

@media screen and (min-width: 64em) {
  .development:after {
    content: lg; } }

@media screen and (min-width: 87.5em) {
  .development:after {
    content: xl; } }

@media screen and (min-width: 112.5em) {
  .development:after {
    content: xxl; } }

.container {
  position: relative;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto; }

.editor h1,
.editor h2,
.editor h3 {
  margin-top: 2.5rem;
  margin-bottom: 1.25rem; }

.editor p {
  margin-bottom: 1.25rem; }

.editor ul {
  list-style-type: disc; }

.editor ol {
  list-style-type: decimal; }

.editor ul,
.editor ol {
  list-style-type: decimal;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-left: 2.5rem; }
  .editor ul li,
  .editor ol li {
    margin-bottom: 0.625rem; }

.editor blockquote {
  margin-top: 8.75rem;
  margin-bottom: 8.75rem;
  margin-left: -140px;
  margin-right: -140px;
  font-size: 1.9375rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.1; }
  @media screen and (min-width: 48em) {
    .editor blockquote {
      font-size: 2.75rem; } }
  @media screen and (min-width: 64em) {
    .editor blockquote {
      font-size: 3.875rem; } }
  .editor blockquote p {
    line-height: inherit; }
  .editor blockquote cite {
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
    margin-top: 4.375rem;
    display: block; }
    @media screen and (min-width: 48em) {
      .editor blockquote cite {
        font-size: 1.25rem; } }
    @media screen and (min-width: 64em) {
      .editor blockquote cite {
        font-size: 1.375rem; } }
    .editor blockquote cite:before {
      content: '— '; }

.editor .embed {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  position: relative; }
  .editor .embed__pusher {
    width: 100%;
    height: 0; }
  .editor .embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.editor img {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem; }

.Cards__item {
  background: silver;
  margin: 10px; }

.TagCloud__list {
  display: flex; }

.TagCloud__item {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.SlideoutNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .SlideoutNav__menu {
    background: white;
    width: 200px;
    padding: 40px;
    position: absolute;
    right: 0;
    height: 100%; }
  .SlideoutNav__background {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.wp-caption {
  max-width: 100% !important; }

.ArticleHeader {
  margin-top: 4.375rem;
  margin-bottom: 4.375rem; }
  .ArticleHeader__title, .ArticleHeader__intro, .ArticleHeader__meta {
    text-align: center; }
  .ArticleHeader__intro {
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 1.23;
    color: #dc1e0f;
    max-width: 46.25rem;
    margin: 0 auto;
    margin-top: 1.25rem; }
    @media screen and (min-width: 48em) {
      .ArticleHeader__intro {
        font-size: 1.625rem; } }
    @media screen and (min-width: 64em) {
      .ArticleHeader__intro {
        font-size: 1.625rem; } }
  .ArticleHeader__meta {
    margin-bottom: 1.25rem; }
  .ArticleHeader__image {
    max-width: 72.5rem;
    margin: 0 auto;
    margin-top: 2.5rem; }

.Article__content {
  max-width: 46.25rem;
  margin: 0 auto; }

.Articles__item {
  border-bottom: 1px solid #373332; }
