@charset "UTF-8";
.container {
  max-width: 0rem; }

@media screen and (min-width: 48em) {
  .container {
    max-width: 48rem; } }

@media screen and (min-width: 64em) {
  .container {
    max-width: 64rem; } }

@media screen and (min-width: 87.5em) {
  .container {
    max-width: 87.5rem; } }

@media screen and (min-width: 112.5em) {
  .container {
    max-width: 112.5rem; } }

/*

Usage:

// With generated breakpoints
@include spacing($size:small, $props:('margin-top','margin-bottom'));

// As a property value
margin-top: spacing($size:small, $breakpoint:small);

*/
/*

Usage:

// With generated breakpoints
@include font-size($size:small, $props:('margin-top','margin-bottom'));

// As a property value
margin-top: font-size($size:small, $breakpoint:small);

*/
@keyframes slide-up {
  from {
    transform: translateY(100px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

figure {
  margin: 0; }

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

ul {
  list-style-type: disc;
  list-style-position: inside; }

li {
  position: relative; }

figure {
  position: relative; }

figcaption:before {
  content: '↳ \00a0'; }

html {
  font-size: 100%; }

body {
  font-family: "Tiempos Text";
  font-size: 1.25rem;
  line-height: 1.344;
  font-weight: normal;
  color: #1d1d1b;
  -webkit-font-smoothing: antialiased; }
  @media screen and (min-width: 48em) {
    body {
      font-size: 1.25rem; } }
  @media screen and (min-width: 64em) {
    body {
      font-size: 1.375rem; } }

::selection {
  background: #1d1d1b; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Replica ProTT"; }

p,
a,
li,
input,
button,
i {
  line-height: 1.354; }

h1,
.h1 {
  font-size: 1.9375rem;
  line-height: 1.3; }
  @media screen and (min-width: 48em) {
    h1,
    .h1 {
      font-size: 2.75rem; } }
  @media screen and (min-width: 64em) {
    h1,
    .h1 {
      font-size: 3.25rem; } }
  @media screen and (min-width: 48em) {
    h1,
    .h1 {
      line-height: 1.27; } }

h2,
.h2 {
  font-size: 1.9375rem;
  line-height: 1;
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 48em) {
    h2,
    .h2 {
      font-size: 2.75rem; } }
  @media screen and (min-width: 64em) {
    h2,
    .h2 {
      font-size: 3.25rem; } }
  @media screen and (min-width: 48em) {
    h2,
    .h2 {
      margin-bottom: 3.75rem; } }
  @media screen and (min-width: 64em) {
    h2,
    .h2 {
      margin-bottom: 3.75rem; } }

h3,
.h3 {
  font-size: 1.9375rem;
  line-height: 1.3; }
  @media screen and (min-width: 48em) {
    h3,
    .h3 {
      font-size: 1.875rem; } }
  @media screen and (min-width: 64em) {
    h3,
    .h3 {
      font-size: 2.3125rem; } }
  @media screen and (min-width: 48em) {
    h3,
    .h3 {
      line-height: 1.27; } }

small {
  font-size: 1rem;
  line-height: 1.25; }
  @media screen and (min-width: 48em) {
    small {
      font-size: 1.625rem; } }
  @media screen and (min-width: 64em) {
    small {
      font-size: 1.125rem; } }

a {
  position: relative;
  text-decoration: none;
  line-height: 0.9em;
  transition: 0.3s ease; }
  a:hover {
    border-color: transparent; }

.development:after {
  position: fixed;
  right: 1.375rem;
  bottom: 1.375rem;
  font-size: 1.9375rem; }
  @media screen and (min-width: 48em) {
    .development:after {
      right: 1.375rem;
      bottom: 1.375rem; } }
  @media screen and (min-width: 64em) {
    .development:after {
      right: 1.375rem;
      bottom: 1.375rem; } }
  @media screen and (min-width: 48em) {
    .development:after {
      font-size: 2.75rem; } }
  @media screen and (min-width: 64em) {
    .development:after {
      font-size: 3.25rem; } }

.development:after {
  content: 'small'; }

@media screen and (min-width: 48em) {
  .development:after {
    content: 'medium'; } }

@media screen and (min-width: 64em) {
  .development:after {
    content: 'large'; } }

@media screen and (min-width: 87.5em) {
  .development:after {
    content: 'xlarge'; } }

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-left: 1.375rem;
  padding-right: 1.375rem; }
  @media screen and (min-width: 48em) {
    .container {
      padding-left: 1.375rem;
      padding-right: 1.375rem; } }
  @media screen and (min-width: 64em) {
    .container {
      padding-left: 1.375rem;
      padding-right: 1.375rem; } }
  @media screen and (min-width: 48em) {
    .container {
      max-width: 42.75rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1.375rem;
      padding-right: 1.375rem; } }
  @media screen and (min-width: 48em) and (min-width: 48em) {
    .container {
      padding-left: 1.375rem;
      padding-right: 1.375rem; } }
  @media screen and (min-width: 48em) and (min-width: 64em) {
    .container {
      padding-left: 1.375rem;
      padding-right: 1.375rem; } }
  @media screen and (min-width: 87.5em) {
    .container {
      max-width: 87.5rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1.375rem;
      padding-right: 1.375rem; } }
  @media screen and (min-width: 87.5em) and (min-width: 48em) {
    .container {
      padding-left: 1.375rem;
      padding-right: 1.375rem; } }
  @media screen and (min-width: 87.5em) and (min-width: 64em) {
    .container {
      padding-left: 1.375rem;
      padding-right: 1.375rem; } }

.editor {
  hyphens: auto; }
  .editor blockquote {
    margin-bottom: 1.375rem; }
    @media screen and (min-width: 48em) {
      .editor blockquote {
        margin-bottom: 1.375rem; } }
    @media screen and (min-width: 64em) {
      .editor blockquote {
        margin-bottom: 1.375rem; } }
  .editor blockquote + p {
    margin-bottom: 1.375rem; }
    @media screen and (min-width: 48em) {
      .editor blockquote + p {
        margin-bottom: 1.375rem; } }
    @media screen and (min-width: 64em) {
      .editor blockquote + p {
        margin-bottom: 1.375rem; } }
  .editor p {
    margin-bottom: 1.375rem; }
    @media screen and (min-width: 48em) {
      .editor p {
        margin-bottom: 1.375rem; } }
    @media screen and (min-width: 64em) {
      .editor p {
        margin-bottom: 1.375rem; } }
  .editor img {
    width: auto;
    max-width: 100%; }

.Cards__item {
  background: silver;
  margin: 10px; }

.wp-caption {
  max-width: 100% !important; }
