figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

[data-sizes='auto'] {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  // list-style-type: disc;
  // list-style-position: inside;
}

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

hr {
  margin: 0;
  border: 0;
  border-top: 2px solid $c-black;
  &.--primary {
    border-color: $c-primary;
  }
}

[role='button'],
button,
[type='button'] {
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  @include font-smoothing;
  vertical-align: middle;
  &:focus {
    outline: none;
  }
}

li {
  position: relative;
}

figure {
  position: relative;
}

figcaption {
  &:before {
    content: '↳ \00a0';
  }
}

a {
  color: $c-black;
}

.aspect {
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
  }
  &--landscape {
    &:before {
      padding-top: percentage(calc(10/16));
    }
  }
  &--square {
    &:before {
      padding-top: 100%;
    }
  }
  & > *:first-child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
