html {
  font-size: $global-font-size;
}

body {
  font-family: $f-sans;
  line-height: 1.65;
  font-weight: $f-regular;
  color: $c-black;
  @include font-size(body);
  @include font-smoothing;
}

::selection {
  background: $c-gray;
}

h1,
h2,
h3,
h4,
h5 {
  color: $c-text;
  font-weight: $f-bold;
}

h1,
.h1 {
  line-height: 1.2;
  @include font-size(h1);
  @include bp(sm, md) {
    @include hyphenate;
  }
}

h2,
.h2 {
  line-height: 1.2;
  @include font-size(h2);
  @include spacing('lg', 'margin-bottom');
}

h3,
.h3 {
  line-height: 1.2;
  @include font-size(h3);
  @include bp(md) {
    line-height: 1.27;
  }
}

small {
  line-height: 1.25;
  @include font-size('small');
}

a {
  position: relative;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

strong {
  font-weight: $f-bold;
}
